@font-face {
    font-family: 'Emi';
    src: url('media/fonts/EmisHandwriting-Regular.woff') format('woff'),
         url('media/fonts/EmisHandwriting-Regular.ttf') format('truetype');
}

html {
    height: 100%;
    overflow: hidden;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Emi', Arial, Helvetica, sans-serif;
}

#titles {
    width: 100vw;
    max-height: 10vh;
    display: block;
}
h1 {
    width: auto;
    text-align: center;
    font-size: 5em;
    margin-bottom: 2vh;
}

h1 > span {
    height: auto;
    width: auto;
    padding-top: 20px;
    background-color: #f0f0f0;
}


h2 {
    width: auto;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

h2 > span {
    height: auto;
    width: auto;
    background-color: #f0f0f0;
}

model-viewer {
    display: block;
    width: 100%;
    height: 70%;
    max-height: 90%;
}

model-viewer::part(default-progress-bar) {
    display: none;
}

#scribbles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}